<% include ./header.ejs %>
	<h1><%= title %></h1>
	<a href="/board/write">글작성</a>
	<% if (err == null) { %>
	<table>
		<tr>
			<th>글번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>작성일</th>
		</tr>
		<% for (var i=0, len = list.length; i<len; i++) { %>
		<tr>
			<td><%= list[i].idx%></td>
			<td>
				<a href="./board/view/<%= list[i].idx%>">
					<%= list[i].subject%>
				</a>
			</td>
			<td><%= list[i].writer%></td>
			<td><%= fullDate(list[i].date)%></td>
		</tr>
		<% } %>	
	</table>
	<% } else { %>
	<p><%= err %></p>
	<% }  %>

<% include ./footer.ejs %>