<% include ./header.ejs %>
	<h1><%= title %></h1>
	<a href="/board/update/<%= list.idx %>">글수정</a>
	<a href="/board/delete/<%= list.idx %>">글삭제</a>
	<table>
		<tr>
			<th>글번호</th>
			<td><%= list.idx %></td>
		</tr>
		<tr>
			<th>작성일</th>
			<td><%= fullDate(list.date) %></td>
		</tr>
		<tr>
			<th>작성자</th>
			<td><%= list.writer %></td>
		</tr>
		<tr>
			<th>제목</th>
			<td><%= list.subject %></td>
		</tr>
		<tr>
			<th>내용</th>
			<td><%= list.content %></td>
		</tr>
	</table>
	<a href="/board">메인으로</a>
<% include ./footer.ejs %>